body {
    padding: 10px;
}

button {
    margin-right: 5px;
}

.datePost {
    font-style: italic;
    color: #252424;
    padding-right: 5px;
}

h3 {
    margin-top:10px;
}

p{
    font-size: 1.2em;
}
